<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title</title>

    <link href="~/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/vendors/aos/dist/aos.css/aos.css" rel="stylesheet" />

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <link href="~/Content/Layout1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container-scroller">
        <div class="main-panel ">
            @*partial:partials/_navbar.html*@
            <header id="header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        @*<div class="navbar-top">
                                <div class="d-flex justify-content-between align-items-center">
                                    <ul class="navbar-top-left-menu">
                                        <li class="nav-item">
                                            @Html.ActionLink("ಜಾಹೀರಾತಿಗಾಗಿ", "About", "Home", routeValues: new { sType = "ADVERTISEMENT" }, htmlAttributes: new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("ಸುದ್ದಿವಾಹಿನಿ ಬಗ್ಗೆ", "About", "Home", routeValues: new { sType = "ABOUT" }, htmlAttributes: new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("ಕಾರ್ಯಕ್ರಮಗಳು", "About", "Home", routeValues: new { sType = "EVENTS" }, htmlAttributes: new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("ಸಂಪರ್ಕಿಸಿ", "About", "Home", routeValues: new { sType = "CONTACT" }, htmlAttributes: new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("ಹೆಚ್ಚಿನ ಮಾಹಿತಿಗಾಗಿ", "About", "Home", routeValues: new { sType = "MORE" }, htmlAttributes: new { @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="navbar-top-right-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Login ಮಾಡಿ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">ನೊಂದಾಯಿಸಿಕೊಳ್ಳಿ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>*@
                        <div class="navbar-bottom">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">

                                        <img src="~/Content/Images/yamaha_Logo.png" height="60" width="200" class="img-fluid" />

                                    </a>
                                </div>
                                <div>
                                    <button class="navbar-toggler"
                                            type="button"
                                            data-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="navbar-collapse justify-content-center collapse"
                                         id="navbarSupportedContent">
                                        <ul class="navbar-nav d-lg-flex justify-content-between align-items-center">
                                            <li>
                                                <button class="navbar-close">
                                                    <i class="mdi mdi-close"></i>
                                                </button>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="index.html">ಮುಖಪುಟ</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/business.html">ವಾಣಿಜ್ಯೋಧ್ಯಮ</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/sports.html">ಕ್ರೀಡಾ ಸುದ್ದಿ</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/art.html">ಸಿನಿಮಾ</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/politics.html">ರಾಜಕೀಯ</a>
                                            </li>
                                            @if (ViewBag.User == "Admin")
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" href="@Url.Action("ArticleGrid", "Article", new { sectionID = "1"})">Create Article</a>
                                                </li>
                                            }
                                            @if (ViewBag.usrName != "")
                                            {
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"> @ViewBag.usrName </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="nav-item">
                                                    <a href="@Url.Action("userLogin", "User")" class="nav-link">Login ಮಾಡಿ</a>
                                                </li>
                                            }
                                            @*<li class="nav-item">
                                                    <a class="nav-link" href="pages/travel.html">Travel</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="pages/contactus.html">Contact</a>
                                                </li>*@
                                        </ul>
                                    </div>
                                </div>
                                @*<ul class="social-media">
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>
                                </ul>*@
                            </div>
                        </div>
                    </nav>
                </div>
            </header>



            <div class="wrapper">

                <!-- Sidebar -->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Bootstrap Sidebar</h3>
                    </div>

                    <ul class="list-unstyled components">
                        <p> Edit Sections </p>
                        <li class="active">
                            <a href="@Url.Action("ArticleGrid", "Article", new { sectionID = "1"})" class="text-black-50">Latest News</a>
                            @*<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-black-50">Home</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li>
                                        <a href="#" class="text-black-50">Home 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-black-50">Home 2</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-black-50">Home 3</a>
                                    </li>
                                </ul>*@
                        </li>
                        <li>
                            <a href="@Url.Action("ArticleGrid", "Article", new { sectionID = "2"})" class="text-black-50">About</a>
                        </li>
                        <li>
                            @*<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-black-50">Pages</a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                        <li>
                                            <a href="#" class="text-black-50">Page 1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-black-50">Page 2</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-black-50">Page 3</a>
                                        </li>
                                    </ul>*@
                        </li>
                        <li>
                            <a href="#" class="text-black-50">Portfolio</a>
                        </li>
                        <li>
                            <a href="#" class="text-black-50">Contact</a>
                        </li>
                    </ul>

                </nav>

                <!-- Page Content -->
                <div id="content">
                    <!-- We'll fill this with dummy content -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">

                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>

                        </div>


                    </nav>

                    <div>
                        @RenderBody()
                        @RenderSection("scripts", required: false)

                    </div>

                </div>

            </div>






            <footer>
                @*<div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="~/Content/Images/logo.svg" class="footer-logo" alt="" />
                                <h5 class="font-weight-normal mt-4 mb-5">
                                    Newspaper is your news, entertainment, music fashion website. We
                                    provide you with the latest breaking news and videos straight from
                                    the entertainment industry.
                                </h5>
                                <ul class="social-media mb-3">
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h3 class="font-weight-bold mb-3">RECENT POSTS</h3>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="footer-border-bottom pb-2">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="~/Content/Images/dashboard/home_1.jpg"
                                                         alt="thumb"
                                                         class="img-fluid" />
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="font-weight-600">
                                                        Cotton import from USA to soar was American traders
                                                        predict
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="footer-border-bottom pb-2 pt-2">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="~/Content/Images/dashboard/home_2.jpg"
                                                         alt="thumb"
                                                         class="img-fluid" />
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="font-weight-600">
                                                        Cotton import from USA to soar was American traders
                                                        predict
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="~/Content/Images/dashboard/home_3.jpg"
                                                         alt="thumb"
                                                         class="img-fluid" />
                                                </div>
                                                <div class="col-9">
                                                    <h5 class="font-weight-600 mb-3">
                                                        Cotton import from USA to soar was American traders
                                                        predict
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h3 class="font-weight-bold mb-3">CATEGORIES</h3>
                                <div class="footer-border-bottom pb-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0 font-weight-600">Magazine</h5>
                                        <div class="count">1</div>
                                    </div>
                                </div>
                                <div class="footer-border-bottom pb-2 pt-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0 font-weight-600">Business</h5>
                                        <div class="count">1</div>
                                    </div>
                                </div>
                                <div class="footer-border-bottom pb-2 pt-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0 font-weight-600">Sports</h5>
                                        <div class="count">1</div>
                                    </div>
                                </div>
                                <div class="footer-border-bottom pb-2 pt-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0 font-weight-600">Arts</h5>
                                        <div class="count">1</div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0 font-weight-600">Politics</h5>
                                        <div class="count">1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <div class="fs-14 font-weight-600">
                                        © 2022  <a href="#" target="_blank" class="text-white"> Havissu Studios </a>. All rights reserved.
                                    </div>
                                    <div class="fs-14 font-weight-600">
                                        Handcrafted by <a href="#" target="_blank" class="text-white"> Havissu Studios </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>


        </div>
    </div>




    <script type="text/javascript">

        $(document).ready(function () {
            debugger;

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');

                // close dropdowns
                $('.collapse.in').toggleClass('in');
                // and also adjust aria-expanded attributes we use for the open/closed arrows
                // in our CSS
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

        });
    </script>

    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/aos/dist/aos.js/aos.js"></script>


    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/jquery.easeScroll.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
</body>
</html>
