@model test.Models.Article
@{
    ViewBag.Title = "ArticlePublish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" data-aos="fade-up">
                <div class="card-body">

                    @using (Html.BeginForm("ArticlePublish", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()




                        <br />
                        <br />

                        <div class="form-horizontal">

                            <h1 class="h5">
                                Article to be published: &nbsp; @Html.DisplayTextFor(model => model.ArticleHeading)
                            </h1>

                            <br />
                            <br />
                            <div class="hidden" style="display:none">
                                @Html.EditorFor(model => model.ArticleID, new { htmlAttributes = new { @readonly = "true", Value = ViewBag.articlePkid, @class = "hidden" } })
                            </div>
                            <div class="row">
                                <div class="form-group" style="width:500px">
                                    <label class="control-label col-md-8">Select Date to be publish: </label>

                                    <div class="col-md-10">
                                        @Html.DropDownList("ddlDate")
                                        @Html.DropDownList("ddlMonth")
                                        @Html.DropDownList("ddlYear")
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-8">Select time to be publish: </label>

                                    <div class="col-md-10" style="width:500px">
                                        @Html.DropDownList("ddlHours")
                                        @Html.DropDownList("ddlMinutes")
                                        @Html.DropDownList("ddlSeconds")
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-lg-12">Select The Date to be Published on</label>
                                        <div class="col-lg-9 col-sm-8">
                                            @Html.EditorFor(model => model.articlePublishDate, new { htmlAttributes = new { @readonly = "true", Value = Model.articlePublishDate.ToString("dd-MMM-yyyy"), @class = "form-control datepicker", @id = "txtToDate" } })
                                        </div>
                                    </div>
                                </div>*@
                            <br />


                            @if (Model.isPublished == 'N' && ViewBag.User == "Admin")
                            {
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-9 col-sm-8">
                                            <input id="btnPublish" type="submit" class="btn btn-danger" />
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <label> Article is already published </label>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



